# general
.DS_Store
.env
__pycache__/
*.pyc

# frontend + backend build outputs
/dist
/build

# node & python environments
node_modules/
.venv/
venv/

# editor settings
.vscode/
.idea/

# OS / temp files
*.log
*.tmp


# Zimo put:
dooleyhelpz/
.env
test_db/
cluster0/